
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* Variables */
:root {
  --font-family:  "Young Serif", serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}/* Variables fin */



html {
  /* html cest les applications à tout la page */
  scroll-behavior: smooth;
}


/* aqui empeiza el CSS Resets
a technique used to normalize the default 
styles applied by different web browsers to 
HTML elements*/
* {
/* est un sélecteur universel. Il permet de
 cibler tous les éléments de la page HTML.*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
/*Fait généralement référence à la balise <a>
 en HTML, qui est utilisée pour créer des 
 liens hypertextes.*/
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
/* hover est un pseudo-élément qui permet de définir
 un style pour un élément lorsqu'un utilisateur
  passe sa souris dessus.*/
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}


/* CSS Flexbox 
(ou Flexible Box Layout) est une méthode de mise en page très 
puissante et flexible qui permet de disposer les éléments d'une 
page de manière plus fluide et dynamique, sans avoir besoin 
d'utiliser des positions ou des marges complexes. 
Flexbox est particulièrement utile pour créer des layouts réactifs,
 où les éléments s'ajustent automatiquement à la taille de leur 
 conteneur. */
nav {
  position: sticky; /* sctiky es la propiedad de que la position 
  permanezca en la parte superieur sin importat que */
  top: 0;
  left: 0;
  z-index: 1; /* z-index con el valor de 1 se asegura de que la barra
 de navegación se muestre sobre cualquier otro elemento de la página web.*/ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--color-primario);
}

nav a {
  color: var(--color-primario);
  transition: var(--transicion);
}
nav a:hover {
  color: var(--valor-secundario);
  border-bottom: 2px solid var(--valor-secundario);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--negrita);

}
.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 37.5rem;
    width: 37.5rem;
  }
  
  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    text-align: center;
  }

  .mas-sobre {
    background-color: var(--bg-color);
    /* property is a shorthand property used to define the space
     around an element's content inside any defined borders. */
    padding: 1rem 1rem;
    /* REM une unité de mesure qui est particulièrement utile pour 
    définir des tailles relatives à la taille de la police de 
    l'élément racine  */
    /* PADDING correspond à l'espace entre le contenu
     d'un élément et sa bordure, 
     MARGIN correspond à l'espace autour de la 
     bordure d'un élément */
  }
  
  .mas-sobre h2 {
    margin-bottom: var(--bottom-margin);
    /* définit l'espace entre la bordure basse d'un élément 
    et la bordure haute de l'élément adjacent. */
    text-align: center;
  }
  
  .mas-sobre p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: justify;
  }

  .habilidades {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .encabezado-habilidad {
    margin-bottom: 1rem;
  }
  
  .contenedor-habilidad img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
  }













